<header class="site-header">
  <div class="container masthead masthead-flex">
    <img class="logo" src="{{ "/assets/logo.jpg" | relative_url }}" alt="TRS logo">
    <div>
      <h1 class="masthead-title">{{ site.title }}</h1>
      <div class="masthead-subtitle">{{ site.description }}</div>
    </div>
  </div>
  <nav class="nav">
    <a href="{{ "/" | relative_url }}">Home</a>
    <a href="{{ "/about/" | relative_url }}">About</a>
    <a href="{{ "/contact/" | relative_url }}">Contact</a>
  </nav>
</header>
